        <div class="row">
            <main class="col-md-12">
                <section>
                    <h2>About Me</h2>
                    <p>Welcome to my personal page where you can learn more about me.</p>
                </section>

                <section>
                    <h3>Personal Information</h3>
                    <p>My name is Nalinda Rahal and my student ID is 150367233. I am currently enrolled in the BTT program at Seneca College.</p>
                </section>
            </main>
        </div>
