
        <div class="row">
            <main class="col-md-12">
                <h2>Add a New Student</h2>
                <form method="POST" action="/students/add">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input class="form-control" name="firstName" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input class="form-control" name="lastName" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" name="email" type="email" required />
                    </div>
                    <div class="form-group">
                        <label>Course:</label>
                        <input class="form-control" name="course" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Year:</label>
                        <input class="form-control" name="year" type="number" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Add Student</button>
                </form>
            </main>
        </div>
